<nav>
    <img id="logo" class="logo" src="assets/imgs/logo-transparent.png" alt="logo">
    <img class="nav-mobile-toggle" src="assets/imgs/bars-solid.svg" alt="">
    <div class="menu-items">
        <ul class="list-items">
            <li class="nav-mobile-close">X</li>
            <a href="#features">
                <li class="item">Features</li>
            </a>
            <a href="#price">
                <li class="item">Price</li>
            </a>
            <a href="#about-us">
                <li class="item">About Us</li>
            </a>
            <a href="#contact-us">
                <li class="item">Contact Us</li>
            </a>
        </ul>
    </div>
</nav>