@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400&family=Montserrat:wght@300;400;500&display=swap');



:root {
    --primary-color-1: #2f2e41;
    --primary-color-2: #e7eaea;
    --primary-color-3: #F6AE84;
    --primary-color-4: #8A9DD9;
    --primary-color-4a: #6778af;
    --primary-color-4b: #46527a;
    --font-size-1: 1rem;
    --font-size-2: 1.25rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1.75rem;
    --font-size-5: 2rem;
}

html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: var(--primary-color-1);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color-1);
}

a:hover {
    color: var(--primary-color-4);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

a:active {
    color: var(--primary-color-4)
}
hr {
    border: none;
    height: 1px;
    background-color: var(--primary-color-1);
    margin: 20px 10px;
}

/* Nav section Desktop */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    /* border: 2px solid red; */
    background-color: var(--primary-color-2);
    border-radius: 10px;
    margin: 0 auto;
    font-size: var(--font-size-2);
}

.logo {
    width: 10%;
    height: auto;
    margin: 2rem 0 1rem -2rem;
    cursor: pointer;
}


.list-items {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    padding: 1.5rem;
    color: var(--primary-color-1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-mobile-toggle {
    display: none;
    width: 50px;
    height:auto;
    margin-left:70%;
}

.nav-mobile-close {
    font-size: 2rem;
    display: none;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 2.5rem;
    margin: 30px 0;
    border: none;
    background-color: var(--primary-color-3);
    color: var(--primary-color-1);
    cursor: pointer;
    font-size: clamp(var(--font-size-1), 1vw, var(--font-size-2));
    border-radius: 10px;
}

.auth-btn {
    background-color: var(--primary-color-4);
    color: var(--primary-color-1);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.auth-btn:hover {
    background-color: var(--primary-color-4a);
    color: var(--primary-color-2);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.btn:hover {
    background-color: var(--primary-color-4);
    color: var(--primary-color-2);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.col-1 {
    width: 50%;
}

.col-2 {
    font-size: clamp(var(--font-size-1), 1.5vw, var(--font-size-3));
}

.section-container {
    align-items: stretch;
    height: 50vh;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}


.column {
    flex: 33.33%;
    padding: 2%;
    background-color: #fff;
    color: var(--primary-color-4);
    box-shadow: var(--primary-color-2) 5px 0px 20px 1px;
    cursor: pointer;
    height: 100%;
}

.column:hover {
    background-color: var(--primary-color-2);
    color: var(--primary-color-1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.section-title {
    font-size: var(--font-size-3);
    font-weight: 500;
    margin-bottom: 1rem;
}

/* Form */
.form {
    width: 100%;
    margin: 15% 0; 
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--font-size-2);
    padding: 2px;
    background-color: var(--primary-color-2);
    color: var(--primary-color-1);
}

.team-image {
    width: 40%;
    border-radius: 50%;
}
/* Tablet */
@media screen and (max-width: 820px) {
    nav {
        max-width: 100%;
    }

    .col-1 {
        width: 60%;
    }
    
    .btn {
        font-size: 12px;
    }
}

.col-team {
    background-color: var(--primary-color-2);
    color: var(--primary-color-1);
}

.col-team:hover {
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.col-text {
    font-size: clamp(var(--font-size-1), 1.5vw, var(--font-size-3));
}

@media screen and (max-width: 790px){
    .container {
        flex-direction: column;
    }

    .price-container{
        flex-direction: column;
    }

    .col-1 {
        width: 100%;
    }

    .col-2 {
        font-size: var(--font-size-3);
    }

    .nav-mobile-toggle {
        display: block;
        cursor: pointer;
        width: 40px;
        
    }
    
    .section-container {
        height: 74vh;
    }

    .list-items {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
        padding: 1.5rem;
        color: var(--primary-color-1);
        background-color: #F6AE84;
        margin-top: 25rem;
        margin-right: 34rem;
        margin-left: -6rem;
        z-index: 100;
        position: relative;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-mobile-close {
        margin-left: 80%;
    }
}

/* Form Section */
.upload-form {
    margin: 10% 0;
}


/* Logo Width and Navbar Toggle */
@media screen and (max-width: 1280px) {
    .logo {
        width: 12%;
        height: auto;
        margin: 2rem 0 1rem -2rem;
    }
}

@media screen and (max-width: 985px) {
    .logo {
        width: 15%;
        height: auto;
        margin: 2rem 0 1rem -2rem;
    }

    .btn {
        width: 40%;
        height: 2.15rem;
    }

    .section-container {
        flex-direction: column;
        height: 70vh;
    }
}
@media screen and (max-width: 768px) {
    .logo {
        width: 20%;
        height: auto;
        margin: 2rem 0 1rem -2rem;
    }
}
@media screen and (max-width: 668px) {
    .logo {
        width: 30%;
        height: auto;
        margin: 2rem 0 1rem -2rem;
    }

    .nav-mobile-toggle {
        width: 2.7rem;
        margin-left: 60%;
    }
    
    .list-items {
        width: 100%;
        padding: 1.5rem 0rem;
        margin-right: 22rem;
        margin-left: -9rem;
    }
}

@media screen and (max-width: 568px) {
    .nav-mobile-toggle {
        width: 2rem;
        margin-left: 60%
    }
    .list-items {
        width: 100%;
        padding: 1.5rem 0rem;
        margin-right: 22rem;
        margin-left:-5rem;
    }
}


@media screen and (max-width: 375px){
    .section-container {
        height: 130vh;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .section-container {
        height: 130vh;
        flex-direction: column;
    }
}

